
# ignore terraform directories
.terraform
*/**/.terraform
**/.terraform/*

# ignore tfstate files
*.tfstate
*.tfstate.*

*.tfstate.backup
*/**/*.tfstate.backup
.terraform.lock.hcl
# ignore plan output file
*.tfplan
*.plan
*.out
*/**/*.out

*.out.json
*/**/*.out.json

# ignore various project stuff
.idea
.env
.aws_credentials
/.bin

.project

*.zip

